.buttonFlex {
    display: flex;
    justify-content: center;
}

.button {
    background-color: rgba(76, 175, 79, 0.80); /* Green */
    border: none;
    border-radius: 8px;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    width: 100px;
}

.display {
    font-size: 120px;
    background-color: rgba(76, 175, 79, 0.8); /* Green */
    width: 252px;
    margin:auto;
    border-radius: 25px;
}